{% extends 'base.html' %}
{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
    <p class="lead">Изучите наш каталог товаров, чтобы найти то, что вам нужно для вашего проекта или повседневного
        использования. Мы постоянно обновляем наш ассортимент, чтобы предложить вам самые актуальные и качественные
        товары⚡⚡⚡</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        {% for el in data %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ el.title }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ el.price }} <small class="text-muted">рублей</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>📖Доступ к учебному материалу</li>
                    <li>🖥️Практические задания</li>
                    <li>⏰Онлайн-поддержка</li>
                    <li>📧Доступ к форуму сообщества</li>
                </ul>
                <a href="/buy/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary">Купить</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
